* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


/* Inizio Nav */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 100vw;
}

nav div ul {
    display: flex;
    list-style-type: none;
}

nav div ul li {
    padding: 10px 10px 15px;
}

nav div ul li img {
    width: 80px;
    vertical-align: bottom;
}

nav div ul li a {
    font-size: 12px;
    text-decoration: none;
    color: black;
}

nav div ul .button {
    padding: 3px 8px;

    color: white;
    background-color: #0061FF;
}

/* Fine Nav */




/* Inizio Section head */

#section-head {
    background-color: #B4D0E7;
    /* test */
    max-width: 100vw;
    margin-bottom: 150px;
}

#section-head > div {
    max-width: 1200px;
    margin: auto;
    padding-top: 70px;
}

#section-head div h1 {
    max-width: 1000px;

    font-size: 60px;
    font-weight: 800;
}

#section-head div div {
    display: flex;

    position: relative;
    bottom: -38px;

    font-weight: 400;
}

#section-head .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 34px;

    width: 30%;
}

#section-head .text a {
    padding: 10px;

    text-decoration: none;

    background-color: #0061FF;
    color: white;
}

#section-head .text .fa {
    margin-top: 40px;
    font-size: 46px;
}

#section-head .img {
    width: 70%;
}

#section-head .img img {
    width: 100%;
}

/* Fine Section head */




/* Inizio Main */

.container {
    max-width: 1000px;
    margin: 0 auto 100px;
}

h2 {
    margin-bottom: 50px;

    font-size: 30px;
    font-weight: 700;
}

/* Inizio Prima Sezione */

#input input:nth-of-type(2) {
    margin-left: 40px;
}



/* Inizio Colonne */

#columns {
    display: flex;
    justify-content: space-between;
    gap: 50px;

    margin-top: 40px;
    margin-bottom: 50px;
}

.column {
    width: calc(100% / 3 - 50px * 2 / 3);

    border: 0.5px solid lightgray;
}

.col-title {
    display: flex;
    justify-content: center;

    width: 100%;
    padding: 10px;

    font-size: 15px;
    border-bottom: 1px solid lightgray;
}

.col-title i {
    position: relative;
    top: 2px;

    padding-right: 5px;

    font-size: 18px;
}

.col-text {
    display: flex;
    flex-direction: column;

    padding: 40px 30px;
}

h3 {
    font-size: 23px;
}

.col-text .price {
    display: flex;
    flex-direction: column;
    gap: 16px;

    margin-top: 25px;
    margin-bottom: 40px;
}

.price .amount {
    font-weight: 700;
}

.price .gray {
    color: gray;
}

.billing-type {
    font-size: 14px;
}

.billing-type .space {
    display: flex;
    align-items: baseline;

    padding-top: 20px;
}

.billing-type i {
    padding-right: 4px;
    font-size: 16px;
}

.billing-type .share {
    display: flex;
    align-items: baseline;

    margin-top: 20px;
    margin-bottom: 40px;
}

.col-text .buttons {
    padding: 10px;
    margin-bottom: 35px;

    font-size: 14px;
    text-align: center;
    text-decoration: none;

    color: white;
    background-color: #0061FF;
}

.option .buy-now {
    color: #1B1BF0;
}

.col-text hr {
    width: 55px;
    margin-top: 35px;
    margin-bottom: 35px;
}

.highlights {
    font-size: 14px;
}

.highlights .blue-tick {
    display: flex;
    align-items: baseline;

    margin-top: 20px;
}

.blue-tick .fa {
    margin-right: 4px;
    color: #0061FF;
}

/* Fine Colonne */



/* Inizio Container piccolo */

#container-small {
    margin-bottom: 100px;

    border: 1px solid lightgray;
}

#container-small .row-title {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 5px;

    width: 100%;
    padding: 10px;

    font-size: 14px;
    border-bottom: 1px solid lightgray;
}

.row-text {
    padding: 30px;
}

.row-text div:nth-of-type(1) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    margin-bottom: 10px;
}

.row-text .button {
    padding: 10px 40px;

    font-size: 14px;
    text-align: center;
    text-decoration: none;

    color: white;
    background-color: #0061FF;
}

.row-text p {
    max-width: 650px;
    margin-top: 50px;

    font-size: 14px;
}

/* Fine Container piccolo */



/* Inizio Partner */
#partner {
    display: flex;
    margin-bottom: 100px;
}

#partner .img {
    width: 60%;
}

#partner .img img {
    width: 100%;
}

#partner .text {
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: 40%;

    margin: 45px;
}

#partner .text p {
    padding-right: 100px;
    font-size: 14px;
}

#partner .text .button {
    padding: 10px;
    width: fit-content;

    font-size: 14px;
    text-decoration: none;

    color: black;
    border: 1px solid black;
}

/* Fine Partner */

/* Fine Prima Sezione */




/* Inizio Seconda Sezione */

section .box {
    margin-bottom: 200px;

    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.box div {

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: calc(100% / 3 - 50px * 2 / 3);
}

.box div .img {
    width: 100%;
}

.box div .img img {
    width: 100%;
}

.box div .text {
    width: 100%;
    font-size: 16px;
}

.box div .text h3 {
    padding-bottom: 20px
}

/* Fine Seconda Sezione */




/* Inizio bottom-row */

#bottom-row {
    max-width: 500px;
}

/* Fine bottom-row */



/* Inizio Box delle immagini */

#box-images {
    display: flex;
}

#left-square, #description, #right-square {
    display: flex;
    flex-wrap: wrap;

    width: calc(100vw / 3);
    height: calc(100vw / 3);
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 50%;
}

.square.one {
    box-sizing: border-box;

    border: 10px solid #D1E9CD;
    background-color: #A2D39B;
}

.square.two {
    background-color: #61082B;
}

.square.three {
    background-color: #0093CE;
}

.square.four {
    background-color: #FF1C1C;
}

.square.five {
    background-color: #D5001F;
}

.square.six {
    background-color: #B4D0E7;
}

.square.seven {
    background-color: #0D2481;
}

.square.eight {
    background-color: #FFD830;
}

.square img {
    width: 50%;

    filter: invert(1);
}

#description {
    display: flex;
    flex-direction: column;

    padding: 30px;

    font-size: 11px;

    background-color: #F5F5F5;
}

#description img {
    width: 50%;

    padding-bottom: 30px;
}

#description hr {
    width: 20%;
}

#description p, #description span {
    padding-top: 30px;
}

#bottom-square {
    width: 100vw;
    margin-bottom: 100px;

    background-color: #B4D0E7;
}

#bottom-square .container.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    padding: 70px 0;
}

.container.bottom h2 {
    width: 40%;
    margin: 0;

    color: #61082B;
}

.container.bottom .button {
    padding: 8px 30px;
    align-self: flex-start;

    font-size: 14px;
    text-decoration: none;

    color: black;
    background-color: #FFFFFF;
}
/* Fine Box delle immagini */




/* Inizio container in fondo */

.row-option {
    display: flex;
    justify-content: space-between;

    padding: 20px 20px 20px 0;

    font-size: 14px;
    font-weight: 700;
}

/* Fine container in fondo */



/* Inizio footer */

footer {
    width: 100vw;

    background-color: black;
}

.container-footer {
    display: flex;
    justify-content: space-around;
    gap: 90px;
    
    padding: 100px;
}

.container-footer .footer-column {
    display: flex;
    flex-direction: column;

    max-width: calc(100% / 5);
}

.container-footer .footer-column h4 {
    padding-bottom: 15px;

    color: white;
}

.container-footer .footer-column a {
    padding-bottom: 10px;

    font-size: 14px;
    text-decoration: none;

    color: white;
}

footer hr {
    margin-left: 130px;
    width: 100px;
}

#languages {
    display: flex;
    align-items: baseline;

    padding: 50px 0 50px 130px;

    color: gray;
}

#languages span {
    padding-right: 5px;
    padding-left: 5px;

    font-size: 14px;
}

/* Fine footer */

