* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* Inizio Nav */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 100vw;
}

nav div ul {
    display: flex;
    list-style-type: none;
}

nav div ul li {
    padding: 10px 10px 15px;
}

nav div ul li img {
    width: 80px;
    vertical-align: bottom;
}

nav div ul li a {
    font-size: 12px;
    text-decoration: none;
    color: black;
}

nav div ul .button {
    padding: 3px 8px;

    color: white;
    background-color: #0061FF;
}

/* Fine Nav */

#section-head {
    height: 400px;
    background-color: #B4D0E7;
    /* test */
    max-width: 100vw;
}

